POSTGRES_USER=example
POSTGRES_PASSWORD=example
POSTGRES_DB=example
/* For Development */
POSTGRES_HOST=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
LINKEDIN_CLIENT_ID=
LINKEDIN_CLIENT_SECRET=

/* DEV: DEBUG=True;PROD=False */
DEBUG=False
PROD=True